.hero {

    position: relative;
    display: flex;

    justify-self: center;

    justify-content: center;
    align-content: center;

    padding: 0%;
    margin-bottom: 2rem;

    width: 700px;
    height: 365px;
    box-shadow: 2px 10px 20px 9px var(--primary-color);
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;

}

.hero h1 {
    position: absolute;

    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    align-self: center;

    margin: 1rem;
    padding: 1rem;

    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article img {
    float: right;
}

.history {
    min-width: 700px;
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-rows: 3rem auto;
    grid-template-columns: auto auto auto;
}

.history * {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
}

.history h2 {
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
}

.history img {
    width: 15rem;
}

.adventure {
    min-width: 700px;
    max-width: 1100px;
    width: 100%;

    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

figure {
    border: thin silver solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}