main {
    color: var(--accent1-color);
}

a {
    text-decoration: none;
}

.information {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.information address {
    margin-top: 1rem;
    text-align: center;
}

.form {
    margin-top: 1rem;
    min-width: 700px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#message {
    width: 100%;
    height: 100px;

    resize: vertical;
}

button {
    width: 100%;
    height: 2rem;
}

.team {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.members {
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.members img {
    width: 100%;
}

.members figcaption {
    color: var(--secondary-color);
    text-align: center;
}