:root {
    --primary-color: #303030;
    --secondary-color: #f4a261;
    --accent1-color: #515151;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

body {

    font-family: var(--body-font);

    display: flex;
    flex-flow: column;
    align-items: center;

    margin: 0%;

    font-family: var(--body-font);
}

header {

    font-family: var(--heading-font);

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 62px;
    align-items: center;
    justify-items: center;

    min-width: 700px;
    width: 100%;

    margin: 0;
    margin-bottom: 2rem;
    padding: 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img {
    height: 62px;
    width: auto;
}

nav {
    width: 100%;

    align-content: center;
}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 0%;

    list-style-type: none;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-color);
}

footer {
    display: flex;
    flex-flow: row-reverse;
}

footer * {
    width: fit-content;
    align-self: center;
    padding: 0.5rem;
    padding-bottom: 0;
}

.socialmedia img {
    width: 3em;
}