:root {
    --primary-color: #303030;
    --secondary-color: #f4a261;
    --accent1-color: #515151;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;

    margin: 0%;
}

header {

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;

    min-width: 700px;
    width: 100%;

    margin: 0;
    margin-bottom: 2rem;
    padding: 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: var(--primary-color);
}

nav {
    width: 100%;
    height: 100%;

    align-content: center;
}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 0%;

    list-style-type: none;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-color);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;

    padding: 0%;

    width: 700px;
    height: 365px;
    box-shadow: 2px 19px 29px 9px var(--primary-color);
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;

}

.hero h1 {
    position: relative;
    align-self: center;
    top: 0;

    color: var(--accent2-color);
}

.hero article {
    position: relative;
    display: flex;
    flex-direction: row-reverse;

    margin: 1rem;
    padding: 1rem;

    background-color: var(--primary-color);
    color: var(--secondary-color);

}

.socialmedia img {
    width: 2rem;
}

    {}