:root {
    --primary-color: #2a2dae;
    --secondary-color: #353535;
    --accent-color: #1a176c;
    --accent-color-2: whitesmoke;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 100px;
    max-width: 500px;

}

form {
    border: solid 1px var(--secondary-color);
    background-color: var(--accent-color-2);

    display: flex;
    flex-direction: column;
}

form div {

    margin: 1rem;
    border: solid 1px var(--secondary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}

h1 {
    background-color: transparent;
    color: var(--primary-color);
    padding-left: 15px;

    justify-self: left;
}

span {
    color: var(--primary-color);
}

textarea {
    min-height: 100px;
    resize: vertical;
}

code {
    background-color: var(--secondary-color);
    color: var(--accent-color-2);
    padding: 1em;
}

button {
    margin: 1rem;
    padding: 0.2rem;

    background-color: var(--accent-color);
    color: var(--accent-color-2)
}