nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    display: block;
    max-width: 840px;
}

h1 {
    color: darkblue
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    padding: 0.5em;
    width: 240px;
    height: 480px;
    margin: 1em;
    border: 1px solid slategrey;
    background-color: whitesmoke;
    color: slategrey;
    text-align: left;

}

aside img {
    float: right;
}

footer {
    margin-top: 2em;
    border-top: 1px solid slategrey;
    text-align: center;
}