* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; /% shorthand for white %/
}

h1 {
    color: darkblue;
    padding: .5rem;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid darkblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
    float: right;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: .5em;
    left: 5em;
}

header, footer {
  max-width: 840px;
  margin: 0 auto;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    list-style-type: none;
}

.grid {
  display: grid;
  align-items: center;
}
    
